<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="template/addPlace.html" target="dialog"><span>添加</span></a></li>
			<li><a class="edit" href="template/addPlace.html?id={sid}" target="dialog"><span>修改</span></a></li>
			<li><a class="delete" href="template/deletePlace.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><span>删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="0">
		<thead>
			<tr>
				<th>文件名</th>
				<th>描述</th>
				<th>修改时间</th>
			</tr>
		</thead>
		<tbody>
<@d_templateTree path=queryPath+".include">
	<#list t_list as a>
		<#if !a.isDirectory>
			<tr>
				<td><a href="template/_place.html?queryPath=${queryPath+'.include/'+a.fileName}" target="ajax" rel="templateBox">${a.fileName!}</a></td>
				<td>${a.description!}</td>
				<td>${a.lastModifiedTime?datetime}</td>
			</tr>
		</#if>
	</#list>
</@d_templateTree>
		</tbody>
	</table>
</div>