<div class="pageContent">
	<table class="table" width="100%" layoutH="0">
		<thead>
			<tr>
				<th>文件名</th>
				<th>描述</th>
				<th>修改时间</th>
			</tr>
		</thead>
		<tbody>
			<@d_templateTree path=queryPath+"_include">
				<#list t_list as a>
					<tr>
						<td>
						<#if a.isDirectory>
							[目录]${a.fileName}
						<#else>
							[文件]${a.fileName}
						</#if>
						</td>
						<td>${a.description!}</td>
						<td>${a.lastModifiedTime?datetime}</td>
					</tr>
				</#list>
			</@d_templateTree>
		</tbody>
	</table>
</div>