<@d_content id=id><#assign a=t_bean/></@d_content>
<div class="pageContent">
	<form method="post" action="cmsContent/save.do?callbackType=closeCurrent&navTabId=cmsContent" class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDone);">
		<input name="id" type="hidden" value="${id!}" />
		<div class="pageFormContent" layoutH="57">
			<dl>
				<dt>分类：</dt>
				<dd>
					<input name="categoryId" type="hidden" value="${(a.categoryId)!categoryId!}"/>
					<@d_category id=(a.categoryId)!categoryId!><#assign category=t_bean/></@d_category>
					<input class="required readonly" readonly="readonly" name="categoryName" type="text" size="10" value="${(category.name)!}"/>
					<a class="btnLook" href="cmsCategory/lookup.html?queryCategoryId=${(a.categoryId)!}" lookupGroup="">选择</a>
				</dd>
			</dl>
			<dl>
				<dt>模型：</dt>
				<dd>
					<input name="modelId" type="hidden" value="${(a.modelId)!modelId!}"/>
					<@d_model id=(a.modelId)!modelId!><#assign model=t_bean/></@d_model>
					<input class="required readonly" readonly="readonly" name="modelName" type="text" size="10" value="${(model.name)!}"/>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>标题：</dt>
				<dd><input class="required" name="title" type="text" size="30" value="${(a.title)!}"/></dd>
			</dl>
			<dl>
				<dt>来源：</dt>
				<dd><input class="required" name="source" type="text" size="10" value="${(a.source)!}"/></dd>
			</dl>
			<dl>
				<dt>作者：</dt>
				<dd><input class="required" name="author" type="text" size="10" value="${(a.author)!}"/></dd>
			</dl>
			<dl>
				<dt>编辑：</dt>
				<dd><input class="required" name="editor" type="text" size="10" value="${(a.editor)!}"/></dd>
			</dl>
			<dl>
				<dt>地址：</dt>
				<dd><input class="required" name="url" type="text" size="30" value="${(a.url)!}"/></dd>
			</dl>
			<dl class="nowrap">
				<dt>描述：</dt>
				<dd><textarea name="description" class="required" cols="80" rows="4">${(a.description)!}</textarea></dd>
			</dl>
			<dl class="nowrap">
				<dt>封面：</dt>
				<dd><input class="required" name="cover" type="text" size="30" value="${(a.cover)!}"/></dd>
			</dl>
			<dl>
				<dt>发布日期：</dt>
				<dd><input class="required date" name="publishDate" type="text" size="30" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(a.publishDate)!}"/></dd>
			</dl>
			<dl>
				<dt>创建日期：</dt>
				<dd><input class="required date" name="createDate" type="text" size="30" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(a.createDate)!}"/></dd>
			</dl>
	<@d_categoryExtendList extendType=1 cateoryId=category.id>
		<#list t_page.list as e>
			<dl  class="nowrap">
				<dt>${e.name}：</dt>
				<dd>
					<@t.input e a[e.code]/>
					<span class="info">${e.description!}</span>
				</dd>
			</dl>
		</#list>
	</@d_categoryExtendList>
	<@d_modelExtendList extendType=1 modelId=model.id>
		<#list t_page.list as e>
			<dl  class="nowrap">
				<dt>${e.name}：</dt>
				<dd>
					<@t.input e a[e.code]/>
					<span class="info">${e.description!}</span>
				</dd>
			</dl>
		</#list>
	</@d_modelExtendList>		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>