<div class="pageContent">
	<div class="pageFormContent" layoutH="57">
<#if categoryId?has_content>
	<@d_category id=categoryId><#assign category=t_bean/></@d_category>
	<@d_categoryModelList categoryId=category.id>
		<#assign modelIds=''/>
		<#list t_page.list as a>
			<#assign modelIds=modelIds+a.modelId/>
			<#if a_has_next>
				<#assign modelIds=userIds+','/>
			</#if>
		</#list>
		<@d_model ids=modelIds><#assign modelMap=t_map/></@d_model>
		<#if t_page.totalCount gt 0>
			<#list t_page.list as a>
				<h2><a href="cmsContent/add.html?categoryId=${categoryId}&modelId=${a.modelId}" target="navTab">添加${(modelMap[a.modelId?string].name)!}</a></h2>
			</#list>
		<#else>
			<h2>该分类没有映射模型</h2>
		</#if>
	</@d_categoryModelList>
<#else>
		<h2>请选择一个分类</h2>
</#if>
	</div>
	<div class="formBar">
		<ul>
			<li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
		</ul>
	</div>
</div>