<div class="pageContent">
	<form method="post" action="templateData/save.do?callbackType=closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="57">
			<dl class="nowrap">
				<dt>标题：</dt>
				<dd><input class="required" name="title" type="text" style="width:500px" value="${title!}"/></dd>
			</dl>
			<dl class="nowrap">
				<dt>地址：</dt>
				<dd><input class="required" name="url" type="text" style="width:500px" value="${url!}"/></dd>
			</dl>
			<dl class="nowrap">
				<dt>描述：</dt>
				<dd><textarea name="description" class="required" style="width:500px" rows="4">${description!}</textarea></dd>
			</dl>
			<dl class="nowrap">
				<dt>封面：</dt>
				<dd><input class="required" name="cover" type="text" size="30" value="${cover!}"/></dd>
			</dl>
			<dl class="nowrap">
				<dt>发布日期：</dt>
				<dd><input class="required date" name="publishDate" type="text" size="18" dateFmt="yyyy-MM-dd HH:mm:ss" value="${publishDate!}"/></dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>