<div class="accordion" fillSpace="sidebar">
	<div class="accordionHeader">
		<h2><span>Folder</span>与我相关</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder">
			<li><a href="systemUser/password.html" target="dialog" width="500" height="300">修改密码</a></li>
			<li><a href="cmsContent/list.html?queryUserId=${admin.id}" target="navTab" rel="myContent1_${admin.id}">我发布的内容</a></li>
			<li><a href="cmsContent/list.html?queryUserId=${admin.id}&queryStatus=0" target="navTab" rel="myContent2_${admin.id}">我的草稿</a></li>
		</ul>
	</div>
</div>