<div class="accordion" fillSpace="sidebar">
		<div class="accordionHeader">
			<h2><span>Folder</span>模板管理</h2>
		</div>
		<div class="accordionContent">
			<ul class="tree treeFolder">
				<li>
					<a>文件列表</a>
					<ul>
						<@d_templateTree path="">
						<#list t_list as a>
							<li>
								<#if a.isDirectory>
									<a>${a.description!a.fileName}</a>
									<ul>
										<li><a>加载中...</a></li>
									</ul>
								<#else>
									<a href="template/files.html?navTabId=files&queryPath=${'/'+a.fileName}" target="navTab">${a.description!a.fileName}</a>
								</#if>
							</li>
						</#list>
					</@d_templateTree>
				</ul>
			</li>
		</ul>
	</div>
</div>