<div class="pageContent">
	<table class="table" width="100%" layoutH="0">
		<thead>
			<tr>
				<th>推荐位</th>
				<th>修改时间</th>
			</tr>
		</thead>
		<tbody>
<@d_templateTree path=queryPath+".include">
	<#list t_list as a>
		<#if !a.isDirectory>
			<tr>
				<td><a href="page/_place.html?queryPath=${queryPath+'.include/'+a.fileName}" target="ajax" rel="templateBox">${a.description!}</a></td>
				<td>${a.lastModifiedTime?datetime}</td>
			</tr>
		</#if>
	</#list>
</@d_templateTree>
		</tbody>
	</table>
</div>