<@d_logEmailCheckList userId=queryUserId startCreateDate=queryStartCreateDate endCreateDate=queryEndCreateDate 
			checked=queryChecked 
			orderField=orderField orderType=orderType pageNo=pageNum count=numPerPage>
<form id="pagerForm" method="post">
	<#include "../include_page/queryParamters.html"/>
</form>
<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					<label>用户：</label>
					<input type="text" name="queryUserId" value="${queryUserId!}" />
				</td>
				<td>
					<label>创建日期：</label>
					<input type="text" name="queryStartCreateDate" class="date" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${queryStartCreateDate!}" />
					-
					<input type="text" name="queryEndCreateDate" class="date" dateFmt="yyyy-MM-dd" maxDate="{%y}-%M-{%d}" value="${queryEndCreateDate!}" />
				</td>
				<td>
					<label>验证结果：</label>
					<select class="combox" name="queryResult">
						<option value=""${(!queryResult?has_content)?string(' selected="true"','')}>不限</option>
						<option value="1"${(queryResult?has_content&&"1"==queryResult)?string(' selected="true"','')}>成功</option>
						<option value="0"${(queryResult?has_content&&"0"==queryResult)?string(' selected="true"','')}>失败</option>
					</select>
				</td>
			</tr>
		</table>
		<#include "../include_page/searchBar.html"/>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="delete" href="logEmailCheck/delete.do?id={sid}" title="确定要删除该条记录吗?" target="ajaxTodo"><span>删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="137">
		<thead>
			<tr>
				<th>用户</th>
				<th>邮件地址</th>
				<th>验证码</th>
				<th orderField="createDate" class="<#if orderField??&&'createDate'==orderField><#if 'asc'=orderType>asc<#else>desc</#if><#else>order</#if>">创建日期</th>
				<th>验证结果</th>
			</tr>
		</thead>
		<tbody>
			<#list t_page.list as a>
			<tr target="sid" rel="${a.id}">
				<td>${a.userId!}</td>
				<td>${a.email!}</td>
				<td>${a.code!}</td>
				<td>${a.createDate!}</td>
				<td>${a.checked?string('成功','失败')}</td>
			</tr>
			</#list>
		</tbody>
	</table>
<#include "../include_page/page.html"/>
</div>
</@d_logEmailCheckList>