<#list .data_model?keys as key>
	<#if key?starts_with('query')&&'queryCategoryId'!=key>
		<#assign paramters=(paramters!'')+(paramters?has_content)?string('&','')+key?url+'='+(.data_model[key])?url/>
	</#if>
</#list>
<div class="pageContent">
	<div layoutH="0" style="float:left; display:block; overflow:auto; width:240px;border:solid 1px #CCC; line-height:21px;">
		<ul class="tree treeFolder">
			<li><a href="cmsCategory/_list.html?${paramters!}" target="ajax" rel="categoryBox">所有分类</a>
				<ul>
					<@t.categoryTree 'cmsCategory/_list.html' 'categoryBox' queryCategoryId paramters/>
				</ul>
			</li>
	     </ul>
	</div>
	<div id="categoryBox" class="unitBox" style="margin-left:240px;">
		<#include "_list.html"/>
	</div>
</div>